body {
  margin: 20px;
  font-family: "Roboto", sans-serif;
  position: fixed;
}

h1 {
  font-weight: 100px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 36px;
  font-weight: 700px;
  margin-left: 60px;
}

li {
  list-style: none;
  font-size: 16px;
}

.container {
  margin-top: 30px;
  max-width: 700px;
}

.btn-primary {
  margin-left: -10px;
  position: relative;
}

.btn-success {
  margin-left: 5px;
  display: inline-block;
}

.card.capsule {
  margin: 0 auto;
  min-width: 540px;
  max-width: 700px;
}

.card-text {
  margin-top: -30px;
}

.five-day-forecast {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.weather-icon-future img {
  width: 30px;
  margin-left: 2px;
}

.units {
  font-size: 20px;
}

.card-img-top {
  width: 100px;
  margin-left: 60px;
}

.day {
  margin-left: 20px;
}

.btn-group {
  float: right;
  margin: 10px 20px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
}

.small {
  display: inline;
  position: absolute;
}
